@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional global styles */
html[dir="rtl"] * {
  font-family: 'Tajawal', sans-serif; /* Or any Arabic-friendly font */
}

:root {
  background: #000;
  color: white;
}

body {
  overflow-x: hidden;
}

